@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
    font-family: "Open Sans", sans-serif;

}

.nav-box {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 500;
}

.logo {
    width: 32%;
    height: 25px;
}

.nav {
    display: inline-flex;
    gap: 15px;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

/* box top */
.main-box {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    margin: 0px 17%;
}

.headline {
    background-color: yellow;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 40px;
    /*debug*/
    background-color: yellow;
}

.box-content {
    display: flex;
    /*debug*/
}

.col-right {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    max-width: 35%;
    font-size: 13px;
    line-height: 21px;
}

.jumbo {
    padding-top: 15px;
    width: 67%;
    /*debug*/
    background-color: blueviolet;
}

/*main structure*/

h3 {
    margin: 0 17%;
    padding-top: 6%;
    padding-bottom: 3%;
    font-size: 25px;
    font-weight: 900;
}

.col-3 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
    flex-wrap: wrap;
    gap: 20px;

}

.w-33 {
    width: calc(100% / 3 - 35px);
    font-size: 13px;
    list-style: none;
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
    height: 1000px;

}

.col-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
    flex-wrap: wrap;

}

.w-100 {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    /*debug*/
    background-color: aquamarine;
    border: solid 1px white;
}

.benefits {
    margin-top: 20px;
}

.col-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
    flex-wrap: wrap;
    margin-top: 100px;

}

.w-50 {
    width: calc((100% / 2) - 35px);
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
    height: 100px;
}

.col-1 {
    display: flex;
    margin: 0 17%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.w-10 {
    height: 900px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding-top: 25px;
    line-height: 30px;
    /*debug*/
    background-color: green;
    border: solid 1px white;

}

.w-75 {
    width: 75%;
    background-color: yellow;
    border: solid 1px white;
    height: 150px;
}

.col-team {
    display: flex;
    margin: 0 17%;
    flex-wrap: wrap;
    margin-top: 45px;
}

.w-24 {
    width: 24.5%;
    height: 150px;
    display: flex;
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
}

.remark {
    font-weight: bold;
    font-size: 15px;
}

.stripe {
    margin-top: 15px;
    margin-bottom: 30px;
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin, 1.5em);
    padding-left: 0;
}

.box-enterprise {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 23px 23px;
}

.caption-enterprise {
    margin-top: 20px;
}

.caption-enterprise.font-size {
    font-size: 13px
}

.w-63 {
    height: 460px;
    width: 63%;
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
}

.w-37 {
    height: 273px;
    width: 36%;
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
}

.partner-img {
    width: 94%;
}

.paragraph-size {
    font-size: 13px;
}

.col-operazioni {
    height: 420px;
    width: calc(100% / 3 - 35px);
    /*debug*/
    background-color: yellow;
}

.operazioni-img-w {
    width: 100%
}

p.margin-top {
    margin-top: 25px;

}

.title-box {
    display: flex;
    flex-direction: column;
    margin: 0px 20%;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 38%;
}

.title-size {
    font-size: 30px;
    font-weight: bold;
}

.link-scopri {
    font-size: 13px;
    margin-top: 35px;

}

.bord-designit {
    background-color: #a2d39b;
    margin: 9px 8px;
}

.sponsor-box {
    width: 100%;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
}

.col-sponsor {
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
    height: 390px;
    /*debug*/
    background-color: yellow;
}

.sponsor-left {
    background-color: #d1e9cd;
    height: 195px;
    width: 222.8px;
}

.sponsor-middle {
    width: 100%;
    background-color: #f5f5f5;
    margin: 20px 20px 20px 20px;
}

.designit-middle {
    width: 45%;
    padding: 20px 0px;
}

.designit {
    width: 45%;
    padding: 72px 60px;
}

.paragraph-margin {
    margin-top: 35px;
    margin-bottom: 35px;
}

.arizona {
    width: 50%;
    padding: 55px 58px;
    background-color: #61082b;
}

.florida {
    width: 60%;
    padding: 85px 46px;
    background-color: #0093ce;

}

.topps {
    width: 55%;
    background-color: #ff1c1c;
    padding: 69.5px 52.5px;
}

.bycicle {
    width: 50%;
    background-color: #d5001f;
    padding: 79px 56px;
}

.hearts {
    width: 50%;
    padding: 92px 58px;
    background-color: #b4d0e7;
}

.lonely {
    background-color: #0d2481;
    padding: 67px 50px;
    width: 55%;
}

.clear {
    background-color: #ffd830;
    width: 49%;
    padding: 61px 59px;
}

.span-font-size {
    font-size: 13px;
}

.title-box-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 30px;
    background-color: #b4d0e7;
}

.box-2-button {
    width: 35%;
    font-size: 13px;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 46px;
}

div.faq {
    margin: 0 20%;
    padding-bottom: 7%;
}

div.padding-top-bottom {
    padding-top: 70px;
    padding-bottom: 40px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

.fa-solid.padding-right {
    padding-right: 20px;
}

.faq-question.border-bottom {
    border-bottom: solid 1px;
}

footer {
    color: white;
    background-color: black;
}

.footer-box {
    display: flex;
    margin: 0 17%;
    padding-top: 6%;
    padding-bottom: 6%;
    gap: 30px;
}

.box-item-list {
    display: flex;
    flex-direction: column;
}

.footer-item {
    font-weight: bold;
    font-size: 18px;
    padding-left: 38px;
}

.footer-list {
    font-size: 11px;
    line-height: 30px;
}

ul.list-style {
    list-style: none;
}

/*buttons*/

a.inizia-button {
    padding: 8px 16px;
}

.main-button {
    padding: 7px 10px;
    text-align: center;
    margin-right: 39%;
    margin-bottom: 20px;
    margin-top: 20px;
    /*debug*/
    background-color: white;

}

.plan-button {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 3px 35px;
}

.enterprise-button {
    margin-top: 18px;
    margin-bottom: 97px;
    background-color: white;
    font-size: 13px;
    padding: 7px 35px;
}

.partner-button {
    background-color: white;
    padding: 9px 19px;
    font-size: 13px;
    border: solid 1px black;
}

p.padding-botton {
    padding-bottom: 25px;
}

.language {
    margin: 0 20%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    padding-bottom: 4%;
}

/*links*/
a.none-style {
    text-decoration: none;

}

/*color*/
.bg-gray {
    background-color: #BDDEF2;

}

.bg-b4d0e7 {
    background-color: #b4d0e7;
}

.limit {
    max-height: 600px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.bgblue {
    background-color: #0061ff;
}

/*radio-box-custom*/
.imput-box {
    display: flex;
    gap: 25px;
    font-size: 13px;
    margin: 0px 17%;
    margin-bottom: 17px;
}

.radio-box:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

label {
    margin-right: 15px;
    line-height: 32px;
}

input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input:checked {
    border: 3.5px solid #0061ff;
}

button,
legend {
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
}

button:hover,
button:focus {
    color: #999;
}

button:active {
    background-color: white;
    color: #0061ff;
    outline: 1px solid #0061ff;
}