@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
    font-family: "Open Sans", sans-serif;

}

.nav-box {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 500;
}

.logo {
    width: 32%;
    height: 25px;
}

.nav {
    display: inline-flex;
    gap: 15px;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

/* box top */
.main-box {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    margin: 0px 17%;
}

.headline {
    background-color: yellow;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 40px;
    /*debug*/
    background-color: yellow;
}

.box-content {
    display: flex;
    /*debug*/
}

.col-right {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    max-width: 35%;
    font-size: 13px;
    line-height: 21px;
}

.jumbo {
    padding-top: 15px;
    width: 67%;
    /*debug*/
    background-color: blueviolet;
}

/*main structure*/

h3 {
    margin: 0 17%;
    padding-top: 6%;
    padding-bottom: 3%;
    font-size: 25px;
    font-weight: 900;
}

.col-3 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
    flex-wrap: wrap;
    gap: 20px;

}

.w-33 {
    width: calc(100% / 3 - 35px);
    font-size: 13px;
    list-style: none;
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
    height: 1000px;

}

.col-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
    flex-wrap: wrap;

}

.w-100 {
    width: 100%;
    /*debug*/
    background-color: aquamarine;
    border: solid 1px white;
    height: 25px;
}

.benefits {
    margin-top: 20px;
}

.col-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;
    flex-wrap: wrap;

}

.w-50 {
    width: calc((100% / 2) - 35px);
    /*debug*/
    background-color: yellow;
    border: solid 1px white;
    height: 100px;
}

.col-1 {
    display: flex;
    margin: 0 17%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.w-10 {
    height: 900px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding-top: 25px;
    line-height: 30px;
    /*debug*/
    background-color: green;
    border: solid 1px white;

}

.subtitle {
    font-weight: bold;
    font-size: 20px;
}

.remark {
    font-weight: bold;
    font-size: 15px;
}

.stripe {
    margin-top: 15px;
    margin-bottom: 30px;
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin, 1.5em);
    padding-left: 0;
}



/*buttons*/
.main-button {
    padding: 7px 10px;
    text-align: center;
    margin-right: 39%;
    margin-bottom: 20px;
    margin-top: 20px;

    /*debug*/
    background-color: white;

}

.plan-button {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 3px 35px;
}

/*color*/
.bg-gray {
    background-color: #BDDEF2;

}

.limit {
    max-height: 600px;
}